.tag {
  display: inline-block;
  box-sizing: border-box;
  margin-right: 5px;
  border-radius: 20px;
}
.s {
  padding: 5px 10px;
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.m {
  padding: 5px 10px;
  font-size: 1.4rem;
  line-height: 1.4rem;
}

.ghost {
  border: 1px solid var(--gray-light);
}
.red {
  color: var(--white);
  background-color: var(--red);
  font-weight: bold;
}
.gray {
  color: var(--white);
  background-color: var(--gray);
  font-weight: bold;
}
.primary {
  color: var(--primary);
  background-color: none;
  border: 1px solid var(--primary);
}
.green {
  color: var(--green);
  background-color: var(--green-light);
  font-weight: bold;
}
