* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
  color: var(--black);
  background-color: #f5f6f8;
  font-size: 62.5%;
}
:root {
  --black: #3b434e;
  --white: #ffffff;
  --primary: #377ee2;
  --primary-hover: #1c4680;
  --red: #de0000;
  --green: #1dc37e;
  --green-light: #c8f8e4;
  --gray-light: #ebebeb;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  display: inline-block;
  box-sizing: border-box;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 1.4rem;
  outline: none;
}

.primary {
  color: var(--white);
  background-color: var(--primary);
}
.primary:hover {
  background-color: var(--primary-hover);
}
.ghost {
  color: var(--black);
  background-color: none;
  border: 1px solid var(--gray-light);
}
.ghost:hover {
  background-color: var(--primary);
}
.h1 {
  font-weight: 500;
  font-size: 26px;
  line-height: 35px;
  margin: 0;
}
.h2 {
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  margin: 0;
}
.h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  margin: 0;
}

.m-0 {
  margin: 0;
}
.fz-s {
  font-size: 1.4rem;
  line-height: 2.4rem;
}
.fz-m {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.fz-l {
  font-size: 1.8rem;
  line-height: 2.9rem;
}

.tag {
    display: inline-block;
  box-sizing: border-box;
  margin-right: 5px;
  border-radius: 20px;
}

.tag--s {
    padding: 5px 10px;
  font-size: 1.2rem;
  line-height: 1.4rem;
}
.tag--m {
    padding: 5px 10px;
  font-size: 1.4rem;
  line-height: 1.4rem;
}

.teg--ghost {
  border: 1px solid var(--gray-light);
}
.teg--red {
  color: var(--white);
  background-color: var(--red);
  font-weight: bold;
}
teg--.gray {
  color: var(--white);
  background-color: var(--gray);
  font-weight: bold;
}
.teg--primary {
  color: var(--primary);
  background-color: none;
  border: 1px solid var(--primary);
}
.teg--green {
  color: var(--green);
  background-color: var(--green-light);
  font-weight: bold;
}