

* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
  color:var(--black);
  background-color: #F5F6F8;
}
a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-weight: 500;
  font-size: 26px;
  line-height: 35px;
  margin: 0;
}
h2 {
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  margin: 0;
}
h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  margin: 0;
}
:root {
  --black: #3b434e;
  --white: #ffffff;
  --primary: #3B434E;
  --red: #DE0000;
  --green: #1DC37E;
  --light-green: #C8F8E4;
}
